
<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content onload="getAllNamen()">
 
  <ion-item *ngIf="toggleState">
    <ion-input type="text" placeholder="My qr code data" [(ngModel)] ="qrData">
    </ion-input> 
    <ngx-qrcode 
  [qrc-value]= "qrData">
 </ngx-qrcode>
  </ion-item>
  
 

  <div>
    <ion-button (click)="getAllNamen()">Aanwezigheidslijst</ion-button> 
  </div>
  <div>
    <label for="toggle">QR-scanner aanzetten?</label>
    <ion-toggle id="toggle" [(ngModel)]="myValue" (ionChange)="QrEnable()"></ion-toggle>
  </div>
  <div>
    <ion-button (click) = "goBack()">Log uit</ion-button>
  
    
  </div>
  <ion-badge id="count" color="danger" style="
  right: 5%;
  position: absolute;"></ion-badge>
  <table id="tableTest" style="width:90%; margin:auto; text-align: left; margin-top: 5%;">
    
  </table>
  

</ion-content>

