<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-badge color="danger" style="
  right: 5%;
  position: absolute;">0</ion-badge>
  <table style="width:90%; margin:auto; text-align: left; margin-top: 5%;">
    <tr>
      <th>Achternaam</th>
      <th>Voornaam</th>
      <th>Handtekening</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td><img src=""/></td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td><img src=""/></td>
    </tr>
  </table>
  <ion-button (click) = "goBack()">Log out</ion-button>
</ion-content>
