<ion-header>
  <ion-toolbar>
    <ion-title>
      Location
    </ion-title>
  </ion-toolbar>

  <link rel="stylesheet" href="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7/leaflet.css" />
 
</ion-header>


<ion-content>
 
  <ion-content>
   
    <ion-item style="cursor: pointer" (click)="locatePosition()">
      <ion-button fill="clear">
          <ion-icon slot="start" name="map"></ion-icon>
          Locate Position
      </ion-button>
      
  </ion-item><ion-item>
    <ion-icon slot="start" name="locate"></ion-icon>
</ion-item>

  <div id="mapId" style="width: 100%; height:70%;"></div>


<ion-button shape="round" expand="block" (click)="confirmPickupLocation()" >Confirm Location</ion-button>
  </ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

 
</ion-content>
