ion-content ion-toolbar {
  --background: translucent;
}
ion-label{
  display: block;
}

ion-input{
  display: block;
  width: 100%;
}
ion-item{
  top: 35%;
  width: 50%;
  margin: auto;
  border: none;
}
ion-button{
  display: block;
  width: 100%;
  padding: 0;
}


