<ion-header>
  <ion-toolbar color= "primary">
    <ion-title>
     Handtekening
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<script>alert(test)</script>
  <form [formGroup]="naamForm" (ngSubmit)="setNaam()">
    <br />
    <label>
      Voornaam:
      <input type="text" formControlName="voornaam">
    </label>
    <br />
    <label>
      Achternaam:
      <input type="text" formControlName="achternaam">
    </label>
    <br />
    <label>
      StudentenNr:
      <input type="text" formControlName="studentenNr">
    </label>
    <br />
  </form>
 
  <div>
    <ng-signature-pad
    showDoneButton
  format="base64"
  width="40px"
  height="40px"
  emitOnDragEnd=true
  showClearButton="false"
    (done)="saveImage($event)">
</ng-signature-pad>
  </div>
  <ion-button color="primary" (click)="setNaam()">Verzenden</ion-button>
 
  <div>
    <ion-button (click)="getAllNamen()">Aanwezigheidslijst</ion-button> 
  </div>
  <!-- <ion-button shape="round" expand="block" (click)="locatePosition()" >Confirm Location</ion-button> -->

  
  <ion-button (click)="scanCode()" color="primary" *ngIf>
    <ion-icon name="gr-scanner" > </ion-icon>
     Scan Code
    </ion-button>

  <div id='demo'>

  </div>
  <table id="tableTest">
    

  </table>
  <div id='demo2'>

  </div>


  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

 
</ion-content>


