<ion-header>
  <ion-toolbar>
    <ion-title>
     Handtekening
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="naamForm" (ngSubmit)="setNaam()">
    <br />
    <label>
      Voornaam:
      <input type="text" formControlName="voornaam">
    </label>
    <br />
    <label>
      Achternaam:
      <input type="text" formControlName="achternaam">
    </label>
    <br />
  </form>
  <ion-item>
    <ion-label id="voornaam" >Voornaam</ion-label>
    <ion-input inputmode="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label id="naam">Achternaam</ion-label>
    <ion-input inputmode="text" ></ion-input>
    <!-- <ion-button  (click)="setNaam()">Zet achternaam</ion-button> -->
  </ion-item>


  <ion-button color="primary" (click)="setNaam()">Verzenden</ion-button>
 
  <div>
    <ion-button (click)="getAllNamen()"> test</ion-button> 
  </div>
  <!-- <canvas id='canvasTest'>

  </canvas> -->
  <div id='demo'>

  </div>
  <!-- <img [src]="imgurl"> -->
  <div id='demo2'>

  </div>
  <img id="ht" width="100px" height="50px"/>

  <div>
    <ng-signature-pad
    doneButtonText="Show Image"
  format="base64"
  width="40px"
  height="40px"
    (done)="saveImage($event)">
</ng-signature-pad>
  </div>


<img [src]="signatureImage" *ngIf="signatureImage" />
</ion-content>

