<ion-header>
  <ion-toolbar color= "primary">
    <ion-title>
     Handtekening
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<script>alert(test)</script>
  <form [formGroup]="naamForm" (ngSubmit)="setNaam()">
    <br />
    <label>
      Voornaam:
      <input type="text" formControlName="voornaam">
    </label>
    <br />
    <label>
      Achternaam:
      <input type="text" formControlName="achternaam">
    </label>
    <br />
    <label>
      StudentenNr:
      <input type="text" formControlName="studentenNr">
    </label>
    <br />
  </form>
 
  <div>
    <ng-signature-pad
    showDoneButton
  format="base64"
  width="40px"
  height="40px"
  emitOnDragEnd=true
  showClearButton="false"
    (done)="saveImage($event)">
</ng-signature-pad>
  </div>
  <ion-button color="primary" (click)="setNaam()">Verzenden</ion-button>
 
  <div>
    <ion-button (click)="getAllNamen()">Aanwezigheidslijst</ion-button> 
  </div>
  
  <div id='demo'>

  </div>
  <table id="tableTest">
    

  </table>
  <div id='demo2'>

  </div>



 
  
   
    <ion-item  (click)="locatePosition()">
      <ion-button fill="clear">
          <ion-icon slot="start" name="map"></ion-icon>
          Locate Position
      </ion-button>
      
      <!-- Functie moet nog uitgewerkt worden maar kan dat niet testen. geen kabel C -->
      <ion-button  [disabled]="buttonDisabled">
        <ion-icon name="qr-scanner"></ion-icon>
        Scan CODE
    </ion-button>
  

  </ion-item>

  <div id="mapId" width="0px" height="0px">


<ion-button shape="round" expand="block" (click)="confirmLocation()" >Confirm Location</ion-button>
</div>

  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

 
</ion-content>


